<a href="https://colab.research.google.com/github/GustavoSFaria/PublicScripts/blob/main/Aula_Pandas_LIT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <font color=green> Pandas para Data Science

In [65]:
import pandas as pd

In [66]:
# criando um vetor de números inteiros.
# OBS: a função mean() para calcular a média não funciona para vetores. Precisa antes transformar o objeto em "Series" ou "DataFrame" do Pandas
notas = [10, 20, 30, 40]
type(notas)

list

In [67]:
# transformando o objeto notas em uma "Series" do Pandas
notas = pd.Series(notas)
type(notas)

pandas.core.series.Series

In [68]:
# exibindo o obejeto como "Series" do Pandas
notas

0    10
1    20
2    30
3    40
dtype: int64

In [69]:
# Através de uma "Series" ou "DataFrame" do Pandas é possível utilizar a função mean() para calcular a média.
notas.mean()

25.0

In [70]:
# transformando o objeto notas em um "DataFrame" do Pandas
notas = pd.DataFrame(notas)
type(notas)

pandas.core.frame.DataFrame

In [71]:
# exibindo o obejeto como "Dataframe" do Pandas (o layout de exibição do DataFrame é diferente do layout de uma Series)
notas

    0
0  10
1  20
2  30
3  40

In [72]:
# criando um DataFrame a partir de uma lista de dicionários
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]
df = pd.DataFrame(dados)
df

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [73]:
# criando um DataFrame a partir de um dicionário de listas
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}
df = pd.DataFrame(dados)
df

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [74]:
# selecionando uma coluna no DataFrame. O resultado será uma "Series" do Pandas
coluna = df['Valor']
coluna

0     88078.64
1    106161.94
2     72832.16
Name: Valor, dtype: float64

In [75]:
type(coluna)

pandas.core.series.Series

In [76]:
# selecionando uma coluna no DataFrame. Quando utilizamos dois colchetes, o resultado será um "DataFrame" do Pandas
# os dois colchetes [[]] é um "atalho" para a criação de DataFrame
coluna = df[['Valor']]
coluna

       Valor
0   88078.64
1  106161.94
2   72832.16

In [77]:
type(coluna)

pandas.core.frame.DataFrame

In [78]:
# carregando o conjunto de dados "carro.csv" que está armazenado no GitHub
dataset = pd.read_csv('https://raw.githubusercontent.com/GustavoSFaria/PublicDatasets/main/carros.csv', sep=';')
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [79]:
# verificando o tipo do objeto "dataset"
type(dataset)

pandas.core.frame.DataFrame

In [80]:
# verificando os tipos de dados das colunas
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [81]:
# verificando as primeiras linhas
dataset.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [82]:
# verificando informações do dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

In [83]:
# verificando a média da coluna "valor" do dataset
dataset['Valor'].mean()

98960.51310077519

In [84]:
# verificando as estatísticas da coluna "valor" do dataset
dataset['Valor'].describe()

count       258.000000
mean      98960.513101
std       29811.932305
min       50742.100000
25%       70743.512500
50%       97724.380000
75%      124633.302500
max      149489.920000
Name: Valor, dtype: float64

In [85]:
# selecionando os dois primeiros valores (linhas)
dataset['Valor'][0:2]

0     88078.64
1    106161.94
Name: Valor, dtype: float64

In [86]:
# verificando as colunas do dataset
dataset.columns

Index(['Nome', 'Motor', 'Ano', 'Quilometragem', 'Zero_km', 'Acessórios',
       'Valor'],
      dtype='object')

In [87]:
# aplicando um filtro no dataset utilizando uma lista com colunas selecionadas
filtro = ['Nome','Valor']
subset = dataset[filtro]
subset

                      Nome      Valor
0            Jetta Variant   88078.64
1                   Passat  106161.94
2                 Crossfox   72832.16
3                      DS5  124549.07
4         Aston Martin DB4   92612.10
..                     ...        ...
253           Phantom 2013   51759.58
254  Cadillac Ciel concept   51667.06
255             Classe GLK   68934.03
256       Aston Martin DB5  122110.90
257                  Macan   90381.47

[258 rows x 2 columns]

In [88]:
# carregando o conjunto de dados "carro.csv" novavemnete, considerando a primeira coluna como índice (é possível considerar outras colunas)
dataset = pd.read_csv('https://raw.githubusercontent.com/GustavoSFaria/PublicDatasets/main/carros.csv', sep=';', index_col=0)
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [89]:
# selecionando uma coluna
dataset['Valor']

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [90]:
# selecionando linhas [i:j]
dataset[0:3]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16

## Utilizando .loc e .iloc

In [91]:
# selecionando linha com "loc". loc = [[linhas],[colunas]]
# obs1: Por ter transformado a primeira coluna em índice é que torna-se possível utilizar os nomes dos veículos no "loc", senão seria o número dos índices
# obs2: as duas chaves é para exibir o objeto como DataFrame.
dataset.loc[['Passat']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94

In [92]:
# selecionando linhas com "loc".
# obs: as duas chaves é para exibir o objeto como DataFrame
dataset.loc[['Passat', 'Macan']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [93]:
#selecionando linhas e colunas com loc. loc = [[linhas],[colunas]]
dataset.loc[['Passat', 'Macan'],['Motor','Valor']]

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
Macan   Motor Diesel V6   90381.47

In [94]:
# selecionando todas as linhas e apenas duas colunas
dataset.loc[:,['Motor','Valor']]

                                       Motor      Valor
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

In [95]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [96]:
# selecionando linhas e colunas com iloc (utiliza os índices das linhas e colunas)
dataset.iloc[[0]]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64

In [97]:
dataset.iloc[[0,3],[0,2]]

                         Motor  Quilometragem
Nome
Jetta Variant  Motor 4.0 Turbo        44410.0
DS5            Motor 2.4 Turbo            NaN

In [98]:
dataset.iloc[0:3,0:2]

                         Motor   Ano
Nome
Jetta Variant  Motor 4.0 Turbo  2003
Passat            Motor Diesel  1991
Crossfox       Motor Diesel V8  1990

In [99]:
# selecionando 3 colunas e alterando a ordem das colunas
dataset.iloc[:,[2,0,1]]

                       Quilometragem                  Motor   Ano
Nome
Jetta Variant                44410.0        Motor 4.0 Turbo  2003
Passat                        5712.0           Motor Diesel  1991
Crossfox                     37123.0        Motor Diesel V8  1990
DS5                              NaN        Motor 2.4 Turbo  2019
Aston Martin DB4             25757.0        Motor 2.4 Turbo  2006
...                              ...                    ...   ...
Phantom 2013                 27505.0               Motor V8  2014
Cadillac Ciel concept        29981.0               Motor V8  1991
Classe GLK                   52637.0  Motor 5.0 V8 Bi-Turbo  2002
Aston Martin DB5              7685.0           Motor Diesel  1996
Macan                        50188.0        Motor Diesel V6  1992

[258 rows x 3 columns]

## Queries com DataFrames

In [100]:
# dataset.Motor é igual a dataset['Motor']
dataset.Motor

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [101]:
dataset.Motor == 'Motor V8'

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013              True
Cadillac Ciel concept     True
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [102]:
filtro = dataset.Motor == 'Motor V8'
dataset[filtro]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Série 1 M,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40
J2,Motor V8,2014,90684.0,False,"['Teto panorâmico', 'Sensor de estacionamento'...",60017.03
Aston Martin DBS,Motor V8,1995,43975.0,False,"['Teto panorâmico', 'Piloto automático', 'Ar c...",118909.52
Carnival,Motor V8,2000,67716.0,False,"['Travas elétricas', 'Câmbio automático', 'Câm...",137627.63
Accord,Motor V8,2019,NaN,True,"['Sensor de estacionamento', 'Ar condicionado'...",131961.43
Touareg,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Piloto automátic...",66526.61
Celer Hatch,Motor V8,2008,113808.0,False,"['Controle de estabilidade', 'Câmbio automátic...",91353.86
HB20S,Motor V8,2008,610.0,False,"['Teto panorâmico', 'Rodas de liga', 'Travas e...",116281.21
Face,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Vidros elétricos...",93227.73
Frontier,Motor V8,2001,89056.0,False,"['Câmbio automático', 'Rodas de liga', 'Sensor...",115306.50
Aston Martin V8 Vantage,Motor V8,2017,10821.0,False,"['Teto panorâmico', 'Controle de tração', 'Pai...",139661.48
Classe CL,Motor V8,2019,NaN,True,"['Central multimídia', 'Câmbio automático', '4...",58525.41
Cadillac BLS,Motor V8,1993,88634.0,False,"['Teto panorâmico', 'Controle de estabilidade'...",137116.21
C4 Lounge,Motor V8,1997,108201.0,False,"['Central multimídia', 'Controle de tração', '...",82366.81
Siena EL,Motor V8,2010,75577.0,False,"['Freios ABS', 'Sensor crepuscular', 'Controle...",139546.69
HB20X,Motor V8,2001,104341.0,False,"['Sensor crepuscular', 'Teto panorâmico', 'Pai...",68091.77
SpaceFox,Motor V8,1993,6652.0,False,"['Sensor crepuscular', '4 X 4', 'Painel digita...",61783.65
Sedan,Motor V8,2019,NaN,True,"['Bancos de couro', 'Central multimídia', 'Fre...",57888.10
Aston Martin V12 Vantage,Motor V8,2019,NaN,True,"['Bancos de couro', 'Central multimídia', 'Con...",128396.11
Chana Family,Motor V8,2019,NaN,True,"['Piloto automático', 'Teto panorâmico', 'Sens...",115760.17
"Cadillac CTS coupe, sedan, and wagon",Motor V8,2006,67475.0,False,"['Sensor de chuva', 'Sensor de estacionamento'...",127810.06
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84
Lamborghini Sesto Elemento,Motor V8,2007,85384.0,False,"['Sensor crepuscular', 'Freios ABS', 'Ar condi...",55081.99
Lamborghini Huracán,Motor V8,1994,98108.0,False,"['Sensor de chuva', 'Sensor de estacionamento'...",118826.44
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06

In [103]:
type(filtro)

pandas.core.series.Series

In [104]:
filtro2 = (dataset.Motor == 'Motor V8') & (dataset.Zero_km == True) & (dataset.Valor > 100000)
dataset[filtro2]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Accord,Motor V8,2019,NaN,True,"['Sensor de estacionamento', 'Ar condicionado'...",131961.43
Aston Martin V12 Vantage,Motor V8,2019,NaN,True,"['Bancos de couro', 'Central multimídia', 'Con...",128396.11
Chana Family,Motor V8,2019,NaN,True,"['Piloto automático', 'Teto panorâmico', 'Sens...",115760.17
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84

In [105]:
# fazendo filtros com o método Query
dataset.query('Motor == "Motor V8" and Zero_km == True and Valor > 100000')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Accord,Motor V8,2019,NaN,True,"['Sensor de estacionamento', 'Ar condicionado'...",131961.43
Aston Martin V12 Vantage,Motor V8,2019,NaN,True,"['Bancos de couro', 'Central multimídia', 'Con...",128396.11
Chana Family,Motor V8,2019,NaN,True,"['Piloto automático', 'Teto panorâmico', 'Sens...",115760.17
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84

##Iterando com DataFrames

In [106]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [107]:
# interando linha a linha sem utilizar o loop "for". O pacote Pandas oferece esta possibilidade nativa.
# incluindo a coluna km_medio = km/(ano atual/ano fabricação)

dataset['km_medio'] = (dataset.Quilometragem/(2022 - dataset.Ano))
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_medio
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2337.368421
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,184.258065
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1160.093750
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,NaN
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1609.812500
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,3438.125000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,967.129032
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,2631.850000
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,295.576923
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1672.933333

In [108]:
# verificando quantos carros são Zero Quilômetro (nestes casos o km_nmedio foi calculado como NaN)
len(dataset.query('Zero_km == True'))

61

In [109]:
# preenchendo os valores NaN para a coluna km_medio
dataset['km_medio'] = (dataset.Quilometragem/(2022 - dataset.Ano)).fillna(0)
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_medio
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2337.368421
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,184.258065
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1160.093750
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1609.812500
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,3438.125000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,967.129032
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,2631.850000
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,295.576923
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1672.933333

##Tratamento de Dados

In [110]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   km_medio       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [111]:
# verificando dados faltante na coluna Quilomeragem
dataset['Quilometragem'].isna()

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [112]:
# contando dados faltantes na coluna Quilomeragem
faltantes = dataset['Quilometragem'].isna()
faltantes.sum()

61

In [113]:
# preenchendo dados faltanes com "0" na coluna Quilomeragem. Poderia ser um cálculo no lugar do "0"
dataset['Quilometragem'].fillna(0, inplace = True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  258 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   km_medio       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [115]:
# carregando novamente o conjunto de dados original "carro.csv" que está armazenado no GitHub
dataset = pd.read_csv('https://raw.githubusercontent.com/GustavoSFaria/PublicDatasets/main/carros.csv', sep=';')
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [117]:
# eliminando as linhas com dados ausentes nas colunas Quilometragem e Valor
dataset.dropna(subset = ['Quilometragem','Valor'], inplace = True)
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [118]:
# classifinacon coluna em ordem crescente (ascending = True) ou decrescente (ascending = False)
dataset.sort_values(by = "Valor", ascending = True)

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
82,Cadillac XTS sedan,Motor Diesel V6,1993,90924.0,False,"['Ar condicionado', 'Câmbio automático', 'Sens...",52207.45
199,C30,Motor 1.0 8v,2001,55738.0,False,"['Teto panorâmico', 'Freios ABS', 'Sensor crep...",52805.91
163,Equus,Motor 3.0 32v,2004,57683.0,False,"['Travas elétricas', 'Rodas de liga', '4 X 4',...",53620.31
...,...,...,...,...,...,...,...
69,Kangoo Express,Motor Diesel,2007,29132.0,False,"['Bancos de couro', 'Câmbio automático', 'Pilo...",146716.91
172,Boxster,Motor Diesel V8,2013,73914.0,False,"['Teto panorâmico', 'Sensor crepuscular', 'Ban...",147387.76
125,C5 Tourer,Motor Diesel V6,1999,80187.0,False,"['Rodas de liga', 'Sensor de chuva', 'Painel d...",147627.81
50,Versa,Motor 3.0 32v,2009,85554.0,False,"['Bancos de couro', 'Ar condicionado', 'Rodas ...",148152.89
128,ASX,Motor Diesel V8,2003,61672.0,False,"['Ar condicionado', 'Sensor crepuscular', 'Rod...",149489.92

In [120]:
# agrupando os registros por motor e calculando o Valor Médio
dataset.groupby(by = "Motor")['Valor'].mean()

Motor
Motor 1.0 8v              95741.644091
Motor 1.8 16v             83965.033571
Motor 2.0 16v             93863.430000
Motor 2.4 Turbo           99625.485000
Motor 3.0 32v             91108.872941
Motor 4.0 Turbo          106434.262632
Motor 5.0 V8 Bi-Turbo     86905.821765
Motor Diesel             107459.729048
Motor Diesel V6          102362.868333
Motor Diesel V8          102782.106667
Motor V6                 109737.689375
Motor V8                  98423.970000
Name: Valor, dtype: float64

In [122]:
# agrupando os registros por motor, verificando as estatísticas descritivas e ordenando por média
dataset.groupby(by = "Motor")['Valor'].describe().sort_values(by = "mean", ascending = True)

,count,mean,std,min,25%,50%,75%,max
Motor,,,,,,,,
Motor 1.8 16v,14.0,83965.033571,24304.445716,53894.61,62702.8300,81667.875,97991.6950,129296.11
Motor 5.0 V8 Bi-Turbo,17.0,86905.821765,30820.888781,56208.70,66433.8200,70846.030,124661.3800,140934.60
Motor 3.0 32v,17.0,91108.872941,29954.318591,53620.31,61118.5900,84222.650,117709.6700,148152.89
Motor 2.0 16v,15.0,93863.430000,31659.384099,60813.92,68762.9750,75263.240,122001.4400,142623.02
Motor 1.0 8v,22.0,95741.644091,31011.090298,52805.91,69933.6625,89306.210,123054.2700,146203.34
Motor V8,17.0,98423.970000,34475.314391,51667.06,61783.6500,115306.500,127810.0600,139661.48
Motor 2.4 Turbo,6.0,99625.485000,19108.328862,79782.02,83470.0575,96662.275,116114.1125,122975.63
Motor Diesel V6,18.0,102362.868333,28298.101679,52207.45,78905.7025,108343.250,122381.7525,147627.81
Motor Diesel V8,15.0,102782.106667,35066.014517,56646.34,73375.8450,95078.160,142340.4200,149489.92
Motor 4.0 Turbo,19.0,106434.262632,20162.934641,60998.33,91224.6300,107342.680,120622.6350,141591.86
Motor Diesel,21.0,107459.729048,30796.988909,54263.16,77836.2300,112350.610,133030.6000,146716.91
Motor V6,16.0,109737.689375,28449.062835,54332.87,89256.7500,112439.895,136132.4200,141982.93

In [123]:
# contando os registros por tipo de motor
dataset['Motor'].value_counts()

Motor 1.0 8v             22
Motor Diesel             21
Motor 4.0 Turbo          19
Motor Diesel V6          18
Motor 3.0 32v            17
Motor 5.0 V8 Bi-Turbo    17
Motor V8                 17
Motor V6                 16
Motor Diesel V8          15
Motor 2.0 16v            15
Motor 1.8 16v            14
Motor 2.4 Turbo           6
Name: Motor, dtype: int64