<a href="https://colab.research.google.com/github/GustavoSFaria/PublicScripts/blob/main/Aula_Pandas_LIT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd

In [55]:
# criando um vetor de números inteiros.
# OBS: a função mean() para calcular a média não funciona para vetores. Precisa antes transformar o objeto em "Series" ou "DataFrame" do Pandas
notas = [10, 20, 30, 40]
type(notas)

list

In [56]:
# transformando o objeto notas em uma "Series" do Pandas
notas = pd.Series(notas)
type(notas)

pandas.core.series.Series

In [57]:
# exibindo o obejeto como "Series" do Pandas
notas

0    10
1    20
2    30
3    40
dtype: int64

In [58]:
# Através de uma "Series" ou "DataFrame" do Pandas é possível utilizar a função mean() para calcular a média.
notas.mean()

25.0

In [59]:
# transformando o objeto notas em um "DataFrame" do Pandas
notas = pd.DataFrame(notas)
type(notas)

pandas.core.frame.DataFrame

In [60]:
# exibindo o obejeto como "Dataframe" do Pandas (o layout de exibição do DataFrame é diferente do layout de uma Series)
notas

    0
0  10
1  20
2  30
3  40

In [61]:
# criando um DataFrame a partir de uma lista de dicionários
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]
df = pd.DataFrame(dados)
df

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [62]:
# criando um DataFrame a partir de um dicionário de listas
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}
df = pd.DataFrame(dados)
df

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [63]:
# selecionando uma coluna no DataFrame. O resultado será uma "Series" do Pandas
coluna = df['Valor']
coluna

0     88078.64
1    106161.94
2     72832.16
Name: Valor, dtype: float64

In [64]:
type(coluna)

pandas.core.series.Series

In [65]:
# selecionando uma coluna no DataFrame. Quando utilizamos dois colchetes, o resultado será um "DataFrame" do Pandas
# os dois colchetes [[]] é um "atalho" para a criação de DataFrame
coluna = df[['Valor']]
coluna

       Valor
0   88078.64
1  106161.94
2   72832.16

In [66]:
type(coluna)

pandas.core.frame.DataFrame

In [67]:
# carregando o conjunto de dados "carro.csv" que está armazenado no GitHub
dataset = pd.read_csv('https://raw.githubusercontent.com/GustavoSFaria/PublicDatasets/main/carros.csv', sep=';')
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [68]:
# verificando o tipo do objeto "dataset"
type(dataset)

pandas.core.frame.DataFrame

In [69]:
# verificando os tipos de dados das colunas
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [70]:
# verificando as primeiras linhas
dataset.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [71]:
# verificando informações do dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

In [72]:
# verificando a média da coluna "valor" do dataset
dataset['Valor'].mean()

98960.51310077519

In [73]:
# verificando as estatísticas da coluna "valor" do dataset
dataset['Valor'].describe()

count       258.000000
mean      98960.513101
std       29811.932305
min       50742.100000
25%       70743.512500
50%       97724.380000
75%      124633.302500
max      149489.920000
Name: Valor, dtype: float64

In [74]:
# selecionando os dois primeiros valores (linhas)
dataset['Valor'][0:2]

0     88078.64
1    106161.94
Name: Valor, dtype: float64

In [75]:
# verificando as colunas do dataset
dataset.columns

Index(['Nome', 'Motor', 'Ano', 'Quilometragem', 'Zero_km', 'Acessórios',
       'Valor'],
      dtype='object')

In [76]:
# aplicando um filtro no dataset utilizando uma lista com colunas selecionadas
filtro = ['Nome','Valor']
subset = dataset[filtro]
subset

                      Nome      Valor
0            Jetta Variant   88078.64
1                   Passat  106161.94
2                 Crossfox   72832.16
3                      DS5  124549.07
4         Aston Martin DB4   92612.10
..                     ...        ...
253           Phantom 2013   51759.58
254  Cadillac Ciel concept   51667.06
255             Classe GLK   68934.03
256       Aston Martin DB5  122110.90
257                  Macan   90381.47

[258 rows x 2 columns]

In [91]:
# carregando o conjunto de dados "carro.csv" noavemnete, considerando a primeira coluna como índice
dataset = pd.read_csv('https://raw.githubusercontent.com/GustavoSFaria/PublicDatasets/main/carros.csv', sep=';', index_col=0)
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [87]:
# selecionando uma coluna
dataset['Valor']

0       88078.64
1      106161.94
2       72832.16
3      124549.07
4       92612.10
         ...
253     51759.58
254     51667.06
255     68934.03
256    122110.90
257     90381.47
Name: Valor, Length: 258, dtype: float64

In [88]:
# selecionando linhas [i:j]
dataset[0:3]

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16

In [97]:
# selecionando linha com "loc". loc = [[linhas],[colunas]]
# obs1: Por ter transformado a primeira coluna em índice é que torna-se possível utilizar os nomes dos veículos no "loc", senão seria o número dos índices
# obs2: as duas chaves é para exibir o objeto como DataFrame.
dataset.loc[['Passat']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94

In [93]:
# selecionando linhas com "loc".
# obs: as duas chaves é para exibir o objeto como DataFrame
dataset.loc[['Passat', 'Macan']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [94]:
#selecionando linhas e colunas com loc. loc = [[linhas],[colunas]]
dataset.loc[['Passat', 'Macan'],['Motor','Valor']]

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
Macan   Motor Diesel V6   90381.47

In [95]:
# selecionando todas as linhas e apenas duas colunas
dataset.loc[:,['Motor','Valor']]

                                       Motor      Valor
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

In [107]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [99]:
# selecionando linhas e colunas com iloc (utiliza os índices das linhas e colunas)
dataset.iloc[[0]]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64

In [105]:
dataset.iloc[[0,3],[0,2]]

                         Motor  Quilometragem
Nome
Jetta Variant  Motor 4.0 Turbo        44410.0
DS5            Motor 2.4 Turbo            NaN

In [104]:
dataset.iloc[0:3,0:2]

                         Motor   Ano
Nome
Jetta Variant  Motor 4.0 Turbo  2003
Passat            Motor Diesel  1991
Crossfox       Motor Diesel V8  1990

In [108]:
dataset.iloc[:,[0,1,2]]

                                       Motor   Ano  Quilometragem
Nome
Jetta Variant                Motor 4.0 Turbo  2003        44410.0
Passat                          Motor Diesel  1991         5712.0
Crossfox                     Motor Diesel V8  1990        37123.0
DS5                          Motor 2.4 Turbo  2019            NaN
Aston Martin DB4             Motor 2.4 Turbo  2006        25757.0
...                                      ...   ...            ...
Phantom 2013                        Motor V8  2014        27505.0
Cadillac Ciel concept               Motor V8  1991        29981.0
Classe GLK             Motor 5.0 V8 Bi-Turbo  2002        52637.0
Aston Martin DB5                Motor Diesel  1996         7685.0
Macan                        Motor Diesel V6  1992        50188.0

[258 rows x 3 columns]